# gitignore setting
hub
deps
TAGS
direnv
configstore
.vim/.netrwhist
.vim/bundle
.vim/bundle/*
.vim/plugged
.vim/plugged/*
.idea/
.zshrc.mine

# Coc
nvim/coc/*
!nvim/coc/extensions
nvim/coc/extensions/*
!nvim/coc/extensions/package.json
!nvim/coc/extensions/yarn.lock
