[[plugins]]
repo = 'Shougo/dein.vim'

# =======
# LSP
# =======
[[plugins]]
repo = 'prabirshrestha/async.vim'

# =======
# style
# =======
[[plugins]]
repo = 'ryanoasis/vim-devicons'

[[plugins]]
repo = 'Shougo/context_filetype.vim'

[[plugins]]
repo = 'jacoborus/tender.vim'

[[plugins]]
repo = 'w0ng/vim-hybrid'

# Git wrappper
# ex) :Gdiff, :Gstatus, :Gblame, :Gbrowse
[[plugins]]
repo = 'tpope/vim-fugitive'

[[plugins]]
repo = 'tpope/vim-rhubarb'

# Show git diff
[[plugins]]
repo = 'airblade/vim-gitgutter'

[[plugins]]
repo = 'itchyny/lightline.vim'
hook_add = '''
source ~/dotfiles/nvim/plugins/lightline.vim
'''

[[plugins]]
repo = 'maximbaz/lightline-ale'
depends = ['lightline.vim', 'ale']
hook_add = '''
let g:lightline#ale#indicator_checking = " \uf110 "
let g:lightline#ale#indicator_warnings = "\uf071 "
let g:lightline#ale#indicator_errors = "\uf05e "
let g:lightline#ale#indicator_ok = "\uf00c "
'''

[[plugins]]
repo = 'taohexxx/lightline-buffer'
depends = ['lightline.vim', 'ale']
hook_add = '''
let g:lightline_buffer_logo = "\ue62b "
let g:lightline_buffer_readonly_icon = "\ufafa"
let g:lightline_buffer_modified_icon = "\ufac1"
let g:lightline_buffer_git_icon = "\ue0a0 "
let g:lightline_buffer_ellipsis_icon = '..'
let g:lightline_buffer_expand_left_icon = '◀ '
let g:lightline_buffer_expand_right_icon = ' ▶'
let g:lightline_buffer_separator_icon = '  '

" lightline-buffer function settings
let g:lightline_buffer_enable_devicons = 1 
let g:lightline_buffer_show_bufnr = 0
let g:lightline_buffer_fname_mod = ':t'
let g:lightline_buffer_excludes = ['vimfiler']

let g:lightline_buffer_maxflen = 30
let g:lightline_buffer_maxfextlen = 3
let g:lightline_buffer_minflen = 16
let g:lightline_buffer_minfextlen = 3
let g:lightline_buffer_reservelen = 20
'''

# ==========
# Markdown
# ==========
[[plugins]]
repo = 'kannokanno/previm'

[[plugins]]
repo = 'tyru/open-browser.vim'
hook_add = '''
au BufRead,BufNewFile *.md set filetype=markdown
let g:previm_open_cmd = 'open -a "Vivaldi"'
'''

# [[plugins]]
# repo = ''
# ================
# Directory Tree
# ================
[[plugins]]
repo = 'scrooloose/nerdtree'
hook_add = '''
nnoremap <silent><C-e> :NERDTreeToggle<CR>
let g:NERDTreeChDirMode = 2
'''

# =======
# Utils
# =======
[[plugins]]
repo = 'shu22203/vim-Bclose'

[[plugins]]
repo = 'kana/vim-submode'

[[plugins]]
repo = 'thinca/vim-quickrun'

[[plugins]]
repo = 'Shougo/vimproc'

[[plugins]]
# <C-y>, to expansion
# ex) div>ul>li, p+a+p, ul>li*3, ^, #, ., $, {}
repo = 'mattn/emmet-vim'

[[plugins]]
repo = 'scrooloose/nerdcommenter'
hook_add = '''
" <Leader>c<Space> -> Toggle Comment
" <Leader>ci -> Invert Comment
" <Leader>cA -> Append Comment
let g:NERDSpaceDelims = 1
let g:NERDShutUp = 1
let g:NERDDefaultAlign='left'
'''

# ==========
# Snippets
# ==========
[[plugins]]
repo = 'SirVer/ultisnips'

[[plugins]]
repo = 'honza/vim-snippets'

[[plugins]]
repo = 'neoclide/coc.nvim'
rev = 'release'
build = './install.sh nightly'
hook_add = '''
source ~/dotfiles/nvim/plugins/coc-setting.vim
let g:coc_status_error_sign ="\uf05e " 
let g:coc_status_warning_sign = "\uf071 "
'''

[[plugins]]
repo = 'gko/vim-coloresque'
